.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #ccc;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    min-width: 256px;
    min-height: 32px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    position: relative;
    right: 32px;
  }

li {
  font-family: Helvetica;
  font-size: 14px;
  padding: 4px;
}
