<div class="board-header">
  <!-- <nav>
    <button class="header-button">Board Name</button>
    <button class="header-button">Another Button</button>
  </nav> -->
</div>
<br>
<br>
<div class="stack">
  <button class="btn new-list-button">+ Add another list</button>
  <div class="list" *ngFor="let currentList of childAllLists">
    <h4 class="list-header">{{currentList.title}}</h4>
    <div *ngFor="let currentCard of childAllCards">
      <p>{{currentCard.title}}</p>
    </div>
    <app-cards [childCurrentProjects]="currentProjects" (clickSender)="newCard($event)"></app-cards>
    <button class="btn new-card-button">+ Add a card</button>
  </div>
</div>
