.list {
  background-color: #E2E4E6;
  width: 272px;
  margin: 0 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  float: left;
}

.list-header {
  color: #333;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.header-button {
float: left;
cursor: default;
font-size: 18px;
font-weight: 700;
line-height: 32px;
padding-left: 4px;
text-decoration: none;
}
