.navbar-custom {
    margin-left: -10px;
    background-color: #29679E;
    height: 40px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}


.center {
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}

#trello-logo {
  position: relative;
  bottom: 14px;
  opacity: 0.5;
}

#boards-logo {
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 7px;
  right: 6px;
}

#home-logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  max-width: 32px;
  max-height: 32px;
}

.home {
  margin-right: 3px;
}

#boards-nav {
  font-weight: 700;
  color: white;
}

.header-button {
  transition: .1s ease;
  background: hsla(0,0%,100%,.3);
  border-radius: 3px;
  color: #fff;
  display: block;
  float: left;
  font-weight: 700;
  line-height: 32px;
  margin-right: 4px;
  min-width: 32px;
  font-family: Helvetica;
  padding-left: 20px;
  padding-right: 6px;
  font-size: 14px;
}

body {
  background-color: #3079BA;
}
